
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@Html.Action("PartialHeader")
<body>

    @Html.Action("PartialNavbar")
    @Html.Action("PartialFeature")

    @Html.Action("PartialAbaout")
    @Html.Action("PartialService")

    @Html.Action("PartialTechnology")
  
    @Html.Action("PartialCounter")

    @Html.Action("PartialProjects")

    @Html.Action("PartialBrand")

    @Html.Action("PartialFooter")

    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
    @Html.Action("PartialScrtipt")

</body>

</html>